ignore/
PanelPal/app.log
PanelPal/accessories/__pycache__/
PanelPal/__pycache__
test/__pycache__/
test/db_tests/__pycache__/
test/db_tests/.pytest_cache/
DB/__pycache__/
PanelPal/PanelPal.egg-info
*.bed
*.log
DB/panelpal.db
.coverage.*
.coverage
.coveragerc
*.pyc