ignore/
PanelPal/PanelPal.egg-info
PanelPal.egg-info/
PanelPal/app.log
PanelPal/accessories/__pycache__/
PanelPal/__pycache__/
test/__pycache__/
__pycache__/
DB/__pycache__/
panelpal.db
*.bed
*.log
*.pyc
.coverage.*
.coverage
